@import "~assets/stylesheets/mediaBreakpoints";
@import "~assets/mixins/breakpoints";

.description {
    &__itechart-sudents-image {
        margin-right: 20px;

        width: 25%;
        height: 50%;

        @include media-query-less($handhelds) {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        text-align: justify;
        vertical-align: top;

        margin-left: 20px;

        width: 100%;

        @include media-query-less($handhelds) {
            text-align: start;
            margin-right: 20px;

            width: 100%;
        }
    }

    &__company-location-map {
        @include media-query-less($handhelds) {
            width: 100%;
        }
    }
}